<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/homePage.css">
    <title>Document</title>
</head>
<body>
    <!-- navbar -->
    <nav class="navbar">
        <div class="nav-wrapper">
            <img class="brand-img" src="./images/logo.PNG"  alt="">
            <input class="search-box" type="text"  placeholder="search">
            <div class="nav-items">
                <img class="icon" src="./images/home.PNG" alt="">
                <img class="icon" src=".images/messenger.PNG" alt="">
                <img class="icon" src="./images/add.PNG" alt="">
                <img class="icon" src="./images/explore.PNG" alt="">
                <img class="icon" src="./images/like.PNG" alt="">
                <div class="icon user-profile"></div>
            </div>
        </div>
    </nav>


    <!-- main-->
    <section class="main">
        <div class="wrapper">
            <!-- left-side -->
            <div class="left-col">
                <!-- users -->
                <div class="status-wrapper">
                    <a href="https://insta-full-app.herokuapp.com/hilola_01">
                        <div class="status-card">
                            <div class="profile-pic"><img src="./images/dilnoza1.jpg" alt=""></div>
                            <p class="username">hilola_01</p>
                        </div>
                    </a>
                    <a href="https://insta-full-app.herokuapp.com/mohira_02">
                        <div class="status-card">
                            <div class="profile-pic"><img src="./images/dilnoza2.jpg" alt=""></div>
                            <p class="username">mohira_02</p>
                        </div>
                    </a>
                    <a href="https://insta-full-app.herokuapp.com/dilnoza_03">
                        <div class="status-card">
                            <div class="profile-pic"><img src="./images/mohira2.jpg" alt=""></div>
                            <p class="username">dilnoza_03</p>
                        </div>
                    </a>
                    <a href="https://insta-full-app.herokuapp.com/anna_04">
                        <div class="status-card">
                            <div class="profile-pic"><img src="./images/anna1.jpg" alt=""></div>
                            <p class="username">anna_04</p>
                        </div>
                    </a>
                    
                </div>  
                
                <!-- posts -->
                <div class="post">
                    <div class="info">
                        <a href="https://insta-full-app.herokuapp.com/hilola_01">
                            <div class="user">
                                <div class="profile-pic"><img src="./images/dilnoza1.jpg" alt=""></div>
                                <p class="username">hilola_01</p>
                            </div>
                        </a>
                        <img src="./images/option.PNG" class="options" alt="">
                    </div>
                    <img src="./images/koran.jpg" class="post-image" alt="">
                    <div class="post-content">
                        <div class="reaction-wrapper">
                            <img src="./images/like.PNG" class="icon" alt="">
                            <img src="./images/comment.PNG" class="icon" alt="">
                            <img src="./images/send.PNG" class="icon" alt="">
                            <img src="./images/save.PNG" class="save icon" alt="">
                        </div>
                        <p class="likes">1,012 likes</p>
                        <p class="description"><span>username </span> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Pariatur tenetur veritatis placeat, molestiae impedit aut provident eum quo natus molestias?</p>
                        <p class="post-time">2 minutes ago</p>
                    </div>
                    <div class="comment-wrapper">
                        <img src="./images/smile.PNG" class="icon" alt="">
                        <input type="text" class="comment-box" placeholder="Add a comment">
                        <button class="comment-btn">post</button>
                    </div>
                </div>
                <div class="post">
                    <div class="info">
                       <a href="https://insta-full-app.herokuapp.com/mohira_02">
                            <div class="user">
                                <div class="profile-pic"><img src="./images/dilnoza2.jpg" alt=""></div>
                                <p class="username">mohira_02</p>
                            </div>
                       </a>
                        <img src="./images/option.PNG" class="options" alt="">
                    </div>
                    <img src="./images/mohira1.jpg" class="post-image" alt="">
                    <div class="post-content">
                        <div class="reaction-wrapper">
                            <img src="./images/like.PNG" class="icon" alt="">
                            <img src="./images/comment.PNG" class="icon" alt="">
                            <img src="./images/send.PNG" class="icon" alt="">
                            <img src="./images/save.PNG" class="save icon" alt="">
                        </div>
                        <p class="likes">1,012 likes</p>
                        <p class="description"><span>username </span> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Pariatur tenetur veritatis placeat, molestiae impedit aut provident eum quo natus molestias?</p>
                        <p class="post-time">2 minutes ago</p>
                    </div>
                    <div class="comment-wrapper">
                        <img src="./images/smile.PNG" class="icon" alt="">
                        <input type="text" class="comment-box" placeholder="Add a comment">
                        <button class="comment-btn">post</button>
                    </div>
                </div>

                <div class="post">
                    <div class="info">
                       <a href="https://insta-full-app.herokuapp.com/anna_04">
                            <div class="user">
                                <div class="profile-pic"><img src="./images/anna1.jpg" alt=""></div>
                                <p class="username">anna_04</p>
                            </div>
                       </a>
                        <img src="./images/option.PNG" class="options" alt="">
                    </div>
                    <img src="./images/anna1.jpg" class="post-image" alt="">
                    <div class="post-content">
                        <div class="reaction-wrapper">
                            <img src="./images/like.PNG" class="icon" alt="">
                            <img src="./images/comment.PNG" class="icon" alt="">
                            <img src="./images/send.PNG" class="icon" alt="">
                            <img src="./images/save.PNG" class="save icon" alt="">
                        </div>
                        <p class="likes">1,012 likes</p>
                        <p class="description"><span>username </span> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Pariatur tenetur veritatis placeat, molestiae impedit aut provident eum quo natus molestias?</p>
                        <p class="post-time">2 minutes ago</p>
                    </div>
                    <div class="comment-wrapper">
                        <img src="./images/smile.PNG" class="icon" alt="">
                        <input type="text" class="comment-box" placeholder="Add a comment">
                        <button class="comment-btn">post</button>
                    </div>
                </div>
            </div>

            <!-- right-side -->
            <div class="right-col">
                    <a href="https://insta-full-app.herokuapp.com/lilRose_dev">
                        <div class="profile-card">
                            <div class="profile-pic">
                                <img src="./images/coder.png" alt="">
                            </div>
                            <div>
                                <p class="username">lilRose_dev</p>
                                <p class="sub-text">developer</p>
                            </div>
                            <button class="action-btn">switch</button>
                        </div>
                    </a>
                <p class="suggestion-text">Suggestions for you</p>
                
                <a href="https://insta-full-app.herokuapp.com/sabohat_23">
                    <div class="profile-card">
                        <div class="profile-pic">
                            <img src="./images/islamic1.jpg" alt="">
                        </div>
                        <div>
                            <p class="username">sabohat_23</p>
                            <p class="sub-text">followed bu user</p>
                        </div>
                        <button class="action-btn">follow</button>
                    </div>
                </a>
                <a href="https://insta-full-app.herokuapp.com/em1n">
                    <div class="profile-card">
                        <div class="profile-pic">
                            <img src="./images/cover11.png" alt="">
                        </div>
                        <div>
                            <p class="username">em1n</p>
                            <p class="sub-text">followed bu user</p>
                        </div>
                        <button class="action-btn">follow</button>
                    </div>
                </a>
                <a href="https://insta-full-app.herokuapp.com/muza_89">
                    <div class="profile-card">
                        <div class="profile-pic">
                            <img src="./images/cover9.png" alt="">
                        </div>
                        <div>
                            <p class="username">muza_89</p>
                            <p class="sub-text">followed bu user</p>
                        </div>
                        <button class="action-btn">follow</button>
                    </div>
                </a>
                <a href="https://insta-full-app.herokuapp.com/kahramon">
                    <div class="profile-card">
                        <div class="profile-pic">
                            <img src="./images/cover12.png" alt="">
                        </div>
                        <div>
                            <p class="username">kahramon</p>
                            <p class="sub-text">followed bu user</p>
                        </div>
                        <button class="action-btn">follow</button>
                    </div>
                </a>
               
            </div>
        </div>
    </section>

        

</body>
</html>